image_width: 1440
image_height: 1080
camera_name: narrow_stereo
camera_matrix:
  rows: 3
  cols: 3
  data: [1794.12411,    0.     ,  692.19339,
            0.     , 1792.46301,  607.99368,
            0.     ,    0.     ,    1.     ]
distortion_model: plumb_bob
distortion_coefficients:
  rows: 1
  cols: 5
  data: [-0.064354, -0.030392, 0.005471, -0.000244, 0.000000]
rectification_matrix:
  rows: 3
  cols: 3
  data: [1., 0., 0.,
         0., 1., 0.,
         0., 0., 1.]
projection_matrix:
  rows: 3
  cols: 4
  data: [1772.7793 ,    0.     ,  690.78504,    0.     ,
            0.     , 1776.66101,  611.01097,    0.     ,
            0.     ,    0.     ,    1.     ,    0.     ]
